* {
  /* reset universal*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Transição de fonte mais suave */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Usar o plugin do Figma "Colors to variables" que importa todo o root pronto.
Após o importe, alterar as "/" por "-" */
:root {
  --color-base-white: #ffffff;
  --color-base-gray-100: #e1e1e6;
  --color-base-gray-200: #8c8c99;
  --color-base-gray-300: #7c7c8a;
  --color-base-gray-400: #323238;
  --color-feedback-sucess-color: #1d8841;
  --color-produto-purple-light: #8257e5;
  --color-produto-purple-mid: #633bbc;

  font-size: 62.5%; /* Redefinição para que 1rem = 10px. 
  Facilita o cálculo para a criação dos próximos elementos com font-size */
}

/* Todos os componentes recebem a msm fonte */
html,
body,
input,
textarea,
button {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
}

body {
  height: 100vh;

  /* Alinhamento ao centro da vh */
  display: grid;
  place-content: center;
}

form {
  padding: 3.2rem;
  border: 1px solid var(--color-base-gray-100);
  border-radius: 0.6rem;
}

.step-progress {
  display: flex;
  align-items: center;
  gap: 4rem;

  border-bottom: 1px solid var(--color-base-gray-100);
  padding-bottom: 3.2rem;

  counter-reset: step; /* Cria uma variável/contador para os números nos steps! */
}

.step-progress strong {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--color-base-gray-200);
}

.step-progress strong.active {
  color: var(--color-base-gray-400);
}

.step-progress strong::before {
  counter-increment: step; /* Graças ao "counter-reset", add 1 à contagem do elemento */
  content: counter(step); /* Imprime a contagem do elemento */
  font-family: 'Titillium Web';
  font-size: 1.4rem;

  background-color: var(--color-base-gray-100);
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%; /* Bizú para arredondar! */


  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-base-gray-200);
}

.step-progress .active::before {
  background-color: var(--color-produto-purple-mid);
  color: var(--color-base-white);
}

.step-progress .done::before {
  content: "✓";
  background-color: var(--color-feedback-sucess-color);

}

.content {
  margin-top: 3.2rem;
  display: grid; /* Permite o gap entre os elementos */
  gap: 1.6rem;
}

.button-wraper {
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 3.2rem;

  border: 0;
  border-radius: 0.6rem;

  font-weight: 700;
  text-transform: uppercase;

  min-width: 15.8rem;
}

.primary {
  background-color: var(--color-produto-purple-mid);
  color: var(--color-base-white);
}

.primary:hover {
  background-color: var(--color-produto-purple-light);

}

.secundary {
  background-color: var(--color-base-white);
  color: var(--color-produto-purple-mid);
  border: 1px solid var(--color-produto-purple-mid);
}

/* Alocando o btn à dir */
.justify-end {
  justify-content: flex-end;
}

label {
  font-weight: 700;
  color: var(--color-base-gray-400);
}

input, textarea {
  width: 100%;
  margin-top: 4px;

  padding: 1.6rem;
  background-color: var(--color-base-white);

  border: 1px solid var(--color-base-gray-100);
  border-radius: 0.2rem;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-base-gray-200);
}

.form-step {
  display: none;
}

/* Só aparece o que estará ativo */
.form-step.active {
  display: block;
}